
 
  .register-form {
    width: 520px;
    box-shadow: rgba(254, 254, 254, 0.837) 1px 1px 3px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(175, 172, 172);
  }
  
  .register-form-content {
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .register-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }

  .Links:hover{
    transform: scale(1.1);
    transition: 300ms;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}